<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short icon" href="./favicon.png">
    <title>여행 지도</title>
</head>
<script src="./cityList_json.js"></script>
<script src="./map.js"></script>
<link href="./map.css" rel="stylesheet">
<script>
    window.onload = function(){

        var opacity =0;
        var intervalID=0;
        
        intervalID = setInterval(hide,200);

        setTimeout(function() {
            intervalID = setInterval(show,200);
        }, 1000);
    
        function hide(){
            var div = document.getElementById("map");
            opacity = Number(window.getComputedStyle(div).getPropertyValue("opacity"));
            
            if(opacity>0){
                //Fade out 핵심 부분
                opacity = opacity-opacity;
                div.style.opacity=opacity;
                //img.style.opacity=opacity;
            }
            else{
                clearInterval(intervalID);
            }
        }
        
        function show(){
            var div = document.getElementById("map");
            opacity = Number(window.getComputedStyle(div).getPropertyValue("opacity"));
            
            if(opacity<1){
                //Fade in 핵심 부분
                opacity = opacity+0.1;
                div.style.opacity=opacity;
                //img.style.opacity=opacity;
            }
            else{
                clearInterval(intervalID);
            }
        }	 

        svg =  document.getElementById("map-svg");
        svgDoc = svg.contentDocument;
        _travel_area = svgDoc.getElementsByClassName("travel_area");
        mapCss = document.getElementById("map");

        let mapClass = new Map();
        
        mapClass.MobileOrPC(mapCss);

        mapClass.makeClickEvent(_travel_area);

        /* 색칠된 부분 load */
        //mapClass.travelArea_C('https://travel-api.potatoo.dev/api/check/area');
        mapClass.travelArea_C('http://127.0.0.1:8081/api/check/area');


    }
</script>
<body>
    <div id="map">
        <!-- <div id="travelMain">색칠</div> -->
        <object id="map-svg" width="100%" height="100%" type="image/svg+xml" data="map.svg"></object>
    </div>
</body>
</html>