
#map {
    margin: auto;
    height: auto;
    text-align: center;
    padding: 3%;
}

#travelMain {
    font-size: 3rem;
    margin-bottom: 10px;
    background: #ffe5ea;
}

@media only screen and (max-width: 1200px) {
    #travelMain {
        font-size: 2em;
    }
}

@media only screen and (max-width: 750px) {
    #travelMain {
        font-size: 1em;
    }
}

.travel_area{
    font-size: 8px;
}